.Login {
    /* background-position: l; */
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    padding-top: calc(28% - 300px);
    font-family: 'DM Sans', sans-serif;
}

.Login h2 {
    line-height: 82px;
}

.LoginCard {
    min-height: 350px;
    padding-top: 16px;
}

.Login a {
    color: #0057FF;
}

.Error {
    font-size: 15px;
    color: red;
    /* padding: 4px 0 0 4px; */
}

.BgImage {
    background-color: #2f353a;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../../assets/bg-image-02.jpg);
    transform: scale(1.1);
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.CustomBtn {
    background-color: #008000;
    border-color: #008000;
}

.CustomBtn:hover {
    background-color: #076807;
    border-color: #076807;
}